node_modules
**/node_modules
**/.next
.data
backups
.git
.artifacts
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
docker-compose.yml
apps/neta-mobile
apps/neta-web
docs/mobile
tools
